<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <connectionStrings>
        <add name ="bus_station" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=bus_station;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;" providerName="System.Data.SqlCient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>